body,
html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
}
.img1,
.img2,
.img3 {
  opacity: 0.7;

  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.img1 {
  background-image: url("./res/img/img2.jpg");
  min-height: 100%;
}

.img2 {
  background-image: url("./res/img/img1-2.jpg");
  min-height: 100%;
}

.img3 {
  background-image: url("./res/img/img3.jpg");
  min-height: 100%;
}

.section {
  text-align: center;
  padding: 50px 80px;
  font-size: 18px;
}

.section-light {
  background-color: #f4f4f4;
}

.section-dark {
  background-color: #282e34;
  color: #ddd;
}

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: black;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.ptext .border {
  background-color: #111;
  color: white;
  padding: 20px 60px;
}

@media (max-width: 568px) {
  .img1,
  .img2,
  .img3 {
    background-attachment: scroll;
    position: relative;
    background-position-x: 30%;
  }
}

button {
  border: none;
  position: relative;
  margin-top: 100px;
  font-size: 24px;
  background-color: transparent;
  color: white;
  text-shadow: 1px 1px 2px black;
  border: 2px solid white;
  padding: 15px;
}

button:hover {
  background-color: #979494;
  border: 2px solid white;
}

button:active {
  background-color: transparent;
  color: white;
  outline: none;
  border: 2px solid white;
}

button:focus {
  outline: none;
  border: 2px solid white;
}

.projects {
  top: 20%;
  right: 25%;
}

.card-container {
  width: 60%;
  padding: 0;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  float: left;
  opacity: 1;
  margin: 40% 3% 1% 3%;
  width: 15%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 10px; /* 5px rounded corners */
  background-color: #333;
}

.android-img {
  border-radius: 10px 10px 0 0;
  opacity: 1;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2);
  width: 16.5%;
}

/* Add some padding inside the card container */
.container {
  float: left;
  text-align: center;
  width: 100%;
  background-color: #eee;
  border-radius: 0px 0px 10px 10px;
}

#content {
  position: absolute;
  float: left;
  min-width: 350px;
  background-color: pink;
}

a {
  text-decoration: inherit;
  color: inherit;
  text-decoration: underline;
}

/* .ptext .border.trans {
  background-color: transparent;
} */
/*<span>Photo by <a href="https://unsplash.com/@picsbyjameslee?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">James Lee</a> on <a href="https://unsplash.com/s/photos/wide-owl?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>*/
