body,
html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
}
.img1,
.img2,
.img3 {
  opacity: 0.7;

  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.img1 {
  background-image: url("./res/img/img2.jpg");
  min-height: 100%;
}

.img2 {
  background-image: url("./res/img/img1-2.jpg");
  min-height: 100%;
}

.img3 {
  background-image: url("./res/img/img3.jpg");
  min-height: 100%;
}

.section {
  text-align: left;
  padding: 5%;
  font-size: 18px;
}

.section-light {
  background-color: #f4f4f4;
}

.section-dark {
  background-color: #282e34;
  color: #ddd;
}

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: black;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.ptext .border {
  background-color: #111;
  color: white;
  padding: 20px 60px;
}

#btn {
  margin-top: 10vh;
}

.screenshots-v {
  width: 35%;
  margin: 10% auto;
  padding-right: 10%;
}

.screenshots-h {
  width: 75%;
  margin: 0 auto 10% 0;
  padding-right: 10%;
}
@media (min-width: 1151px) {
  #projectsTitle {
    top: 20%;
    right: 25%;
  }
}
@media (max-width: 1150px) {
  .card-container {
    display: none;
  }

  .screenshots-v {
    width: 90%;
  }

  .screenshots-h {
    width: 100%;
  }
}
@media (max-width: 568px) {
  .img1,
  .img2,
  .img3 {
    max-width: 100%;
    background-attachment: scroll;
    background-position-x: 30%;
    overflow: hidden;
    position: static;
  }
  .img2 {
    background-position-x: 62%;
  }

  .ptext {
    font-size: 16px;
    position: relative;
    margin-top: 75%;
  }
  .screenshots-h {
    display: none;
  }

  .container {
    display: none;
  }

  .card {
    min-width: 40%;
  }

  #projectsTitle {
    position: relative;
    top: 20vh;
  }
}

button {
  border: none;
  position: relative;
  margin-top: 100px;
  font-size: 24px;
  background-color: transparent;
  color: white;
  text-shadow: 1px 1px 2px black;
  border: 2px solid white;
  padding: 15px;
}

button:hover {
  background-color: #979494;
  border: 2px solid white;
}

button:active {
  background-color: transparent;
  color: white;
  outline: none;
  border: 2px solid white;
}

button:focus {
  outline: none;
  border: 2px solid white;
}

.card-container {
  position: absolute;
  top: 33vh;
  width: 80vw;
  height: 50vh;
  padding: 0;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  float: left;
  opacity: 1;
  margin: 1% 3% 1% 3%;
  width: 15%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 10px; /* 5px rounded corners */
  background-color: #333;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2);
  width: 23vw;
}

/* Add some padding inside the card container */
.container {
  text-align: center;
  background-color: #eee;
  border-radius: 0px 0px 10px 10px;
}

a {
  text-decoration: inherit;
  color: inherit;
  text-decoration: underline;
}

.card > img {
  float: left;
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

#jetpack-img {
  width: 100%;
}

#hi {
  text-align: center;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}
.snippet {
  display: none;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 2px solid blue;
  padding: 5vh;
}

.snippet-code {
  flex: 1;
  background-color: grey;
  font-family: "Courier New", Courier, monospace;
  color: black;
  padding: 5vh;
}

.snippet-info {
  flex: 1;
  padding: 5vh;
  color: black;
}

/*<span>Photo by <a href="https://unsplash.com/@picsbyjameslee?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">James Lee</a> on <a href="https://unsplash.com/s/photos/wide-owl?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>*/
